<!DOCTYPE html>
<html lang="en ru" ng-app="ttApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-home.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <![endif]-->
    <link href="css/myStyle.css" rel="stylesheet">
</head>

<body ng-controller="UserCtrl">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" >
                <span class="sr-only">Toggle navigation</span>

            </button>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-sunglasses"></span> TipoTweeter</a>
        </div>
        <div class=" navbar-collapse collapse " aria-expanded="false" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right" >
                <form     class="form-inline navbar-form " ng-class="{block:!userInSystem, noner:userInSystem}">
                    <div    class="form-group form-group-sm" role="form">
                        <label  class="sr-only" for="login">Login</label>
                        <input  type="text"    class="form-control " id="login"  placeholder="Login">
                    </div>
                    <div    class="form-group form-group-sm" role="form">
                        <label  class="sr-only" for="password">Password</label>
                        <input  type="password" class="form-control"    id="password"   placeholder="Password">
                    </div>
                    <button  type="submit"   class="btn btn-info  btn-sm btn-login" ng-click="getUser()" >Sign in</button>
                   <a ng-href="#/registration"><button  type="submit"   class="btn btn-success  btn-sm btn-login" >Register</button></a>
                </form>
                <form   class="form-inline navbar-form" ng-if="userInSystem">
                    <a ng-href="#/profile/{{userInSystem.loginUser}}" ng-click="inProfile(userInSystem.loginUser)"> <img class="round" ng-src={{getURL(userInSystem.loginUser)}}>
                  <button  class="btn btn-info btn-sm"  > {{userInSystem.loginUser}} &nbsp<span class="glyphicon glyphicon-log-in"></span></button></a>
                    <button type="submit" class="btn btn-danger btn-sm"   ng-click="exitUser()"><span class="glyphicon glyphicon-log-out"></span></button>
                </form>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<ng-view></ng-view>

<div class="container" >
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-12">
                    <p>Copyright &copy; R-key Website 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>


</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<!--Angular.js Route-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>-->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/messages/filters.js"></script>
<script src="js/firebaseJs/services.js"></script>
<script src="js/messages/services.js"></script>
<script src="js/users/services.js"></script>
<script src="js/users/regist-services.js"></script>
<script src="js/users/controllers.js"></script>
<script src="js/messages/controllers.js"></script>

</body>

</html>
